.my-form-control {
    margin-bottom: 1rem;
  }
  
  .my-form-control input,
  .my-form-control label {
  margin: 10px;;
  }
  
  .my-form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .my-form-control input,
  .my-form-control select {
    font: inherit;
    padding: 0.5rem;
   
    width: 20rem;
   
  }
  
  .my-form-control input:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
  }
  
  
  
  .my-control-group  .my-form-control {
    min-width: 15rem;
    flex: 1;
  }

  .invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }
  
  .invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }
  
  .error-text {
    color: #b40e0e;
  }