.App {
  text-align: center;
}
.hidden {
  display: none;
}

.formBox {
  height: '100%';
  width:'100%'; 
  margin-left: '1em'; 
  margin-right : '1em'; 
  background-color: 'ivory' !important; 
  font-weight :'bold'; 
  font-size:'larger' ;
  padding:'1em'
}
